server {
# обязательные параметры по одному для каждого сервера:
	listen 4041;
	host 127.0.0.1;
# опциональный, но нельзя дублировать:
	server_name localhost;
# пути исполняющие скрипты
	cgi	.py /usr/local/bin/python3;
	cgi .pl /usr/bin/perl;
# обязательный default локейшн "/"
    location / {
    #   обязательные:
        root	html;
        autoindex	on;
        body_size 0;
        allow_methods	GET POST;
    #   начинается с черты
        index  ghg ;
        upload_path /uploads;
    #   не обязательные:
        error_page	404 /error.html;
    #     return 222 /forms/upload.html;
    }
# след локейшны при неимении своих наследуют параметры "/". Всегда название начало с черты
	location /redirect {
		return 301 /to_redirect.html;
	}
	location /google {
		return 301 https://www.google.com;
	}

	location /uploads {
		autoindex	on;
		allow_methods	GET DELETE;
		error_page	2222	./www/error_pages/error_10000000.html;
		body_size	1;
	}
	location /index.html {
        autoindex	on;
#       приклеится путь локейшна и далее дефолт рута, либо локейшн сменится на рут указанный тут
        index  /favicon.ico;
        allow_methods	GET POST;
        body_size	200000;
	}

	location /c/t {
    	return	301 https://www.google.com;
    }


	location /folder2 {
		# allow_methods POST;
		error_page	404 /error.html;
	}
	location /folder {
		upload_path /uploadskek;
    	root www;
		autoindex	on;
    }

	location /to_delete {
		allow_methods GET DELETE;
	}

	location /cgi-bin {
		autoindex	off;
		allow_methods	 GET POST DELETE;
	}
}

# минимальные параметры чтобы сервер запустился
server {
	listen	8081;
	host 127.0.0.1;
	server_name testingname;
	location / {
	autoindex on;
	root ./www;
	index   /index.html;
	body_size 10;
	upload_path /forms;
	allow_methods GET POST;
	}
}

server {
	listen	8082;
	host 127.0.0.1;
	# server_name testingname;
	location / {
	autoindex off;
	root ./html;
	index   /index.html;
	body_size 2222222;
	upload_path /forms;
	allow_methods GET;
	}
}
